# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars

# SSH keys 
*.pem
ssh-key
ssh-key.pub
id_rsa
id_rsa.pub
id_rsa_cyber*

# IDE files 
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Azure specific
terraform-azure/azure-key
terraform-azure/azure-key.pub
terraform-azure/.terraform/
terraform-azure/*.tfstate*
terraform-azure/*.lock.hcl
terraform-azure/*.tfvars