---
- name: Préparation du serveur AWS
  hosts: master_aws
  become: yes
  tasks:
    - name: Mise à jour du cache apt
      apt:
        update_cache: yes
        force_apt_get: yes

    - name: Installation des outils de base
      apt:
        name:
          - curl
          - gnupg
          - software-properties-common
        state: present
