---
- name: Installation du Master K3s sur AWS
  hosts: master_aws
  become: yes
  gather_facts: yes  # Indispensable pour détecter les interfaces réseau

  tasks:
    - name: Récupérer l'IP de l'interface NetBird (wt0)
      set_fact:
        netbird_ip: "{{ ansible_wt0.ipv4.address }}"
      when: ansible_wt0 is defined

    - name: Vérifier que l'IP a bien été trouvée
      fail:
        msg: "Impossible de trouver l'interface wt0. Vérifie que NetBird est connecté."
      when: netbird_ip is not defined

    - name: Installer K3s Master
      shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server \
        --node-ip={{ netbird_ip }} \
        --advertise-address={{ netbird_ip }} \
        --bind-address={{ netbird_ip }} \
        --flannel-iface=wt0 \
        --node-external-ip={{ netbird_ip }}" sh -